body{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    width: 100%;
    height: 70px;
    background-color: black;
    padding: 10px 0 10px 0;
    margin:0;
    align-items: center;
    justify-content:center;
}

#cabe{
    display:flex;
    flex-direction:row;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
}

#logo{
    width: 200px;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content:center;
}

#abas{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 100%;
    background-color: yellowgreen;
}

.opc{
    width: auto;
    height: 100%;
    display: flex;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.opc p{
    font-family: sans-serif;
    font-size: 17px;
    margin: 17px;
}

#outros{
    width: auto;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#outros .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 3;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

section{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100vh;
    background-color: rgb(163, 189, 211);
    border: solid 1px black;
    align-items: center;
    justify-content: center;
}

#butons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#butons input{
    margin: 10px;
    padding: 30px;
    background-color: rgb(67, 42, 134);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    box-shadow: 1px 1px 7px 0 rgb(81 81 81);
}

#butons :nth-child(1){
    background-color: green;
}

#tela2{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#display{
    height: 500px;
    width: 800px;
    background-color: black;
    margin: 10px;
    display: flex;
}

#info{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tit{
    display:flex;
    font-family: sans-serif;
    font-weight: 80;
    font-size: 30px;
    margin: 10px;
}

.subtit{
    display:flex;
    font-family: sans-serif;
    font-size: 15px;
    margin: 20px;
    color: rgb(92, 92, 92);
}

.subverde{
    display:flex;
    font-family: sans-serif;
    color: green;
    font-size: 15px;
    margin: 10px;
}

#sec2{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    background-color: rgb(163, 189, 211);
    border: solid 1px black;
    align-items: center;
    justify-content: center;
}

#sec2 > div:nth-child(1){
    margin: 100px 0 0 0;
    align-items:center;
    justify-content:center;
}

#sec2 h1{
    text-align: center;
}

#select{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pag{
    display:flex;
    flex-direction: row;
    width: auto;
}


#pag button{
    background-color: rgb(163, 189, 211);
    border: none;
}
/* analisar com cuidado na finalizacao */
#pag button:focus{
    color: purple;
}

#quadrostot{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    margin: 20px;
    align-items: center;
    justify-content:center;
    margin-bottom: 150px;
}

.quadroslin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: auto;
    width: auto;
}

.quadr{
    display: flex;
    flex-direction:column;
    height: 500px;
    width: 340px;
    margin: 25px;
    align-items: center;
    justify-content: center;
}

.quadr div{
    width: 100%;
    height: 100%;
    background-color: red;
}

.quadr p{
    font-family: sans-serif;
    font-size: 15px;
    margin: 30px;
}