body{
    width: 100%;
    min-height:100vh;
    background-color:#222;
    display:flex;
    justify-content:center;
    align-items:center;
}

@property --rotate{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.box{
    position: relative;
    width: 400px;
    min-height:400px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:repeating-conic-gradient(from var(--rotate), red 0%, blue 10%,transparent 0%, transparent 50%);
    animation: joazim 6s linear infinite;
}

.box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--rotate), rgba(255, 0, 0, 0.24) 0%, rgba(0, 0, 255, 0.61) 10%, transparent 0%, transparent 50%);
    animation: joazim 6s linear infinite;
    filter: blur(40px);
}

.box::after{
    position: absolute;
    content: '';
    inset:2px;
    background-color: #222;
}
@keyframes joazim{
    0%{
        --rotate: 0deg;
    }
    100%{
        --rotate: 360deg;
    }
}

form{
    z-index: 2;
}


.inputbox{
    width: 250px;
    height: 50px;
    background:#222;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-bottom:10px;
}
.inputbox::before{
    content: '';
    position: absolute;
    inset: 0px;
    box-shadow: 0 0 2px #000;
}
.inputbox::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: repeating-conic-gradient(from var(--rotate), rgb(255, 0, 0) 0%, rgb(0, 0, 255) 10%, transparent 0%, transparent 50%);
    animation: joazim 6s linear infinite;
}

.inputbox span{
    position: absolute;
    inset: 4px;
    background-color: #222;
    z-index: 2;
}