body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

nav#navigation{
    padding: 0 0;
}

nav#navigation #logo{
    padding: 0 85px;
}

nav#navigation{
    width: 100%;
    height: 104px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav#navigation #links{
    display: flex;
    flex-direction: row;
    margin: 0 10;
}

.template{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

.template p{
    padding: 0;
    margin: 0;
    font-family: "El Messiri", sans-serif;
    font-weight: 550;
    font-size: 17px;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
}

.template p:hover{
    color: #CB997E;
}

.template:nth-child(1) p, .template:nth-child(1) p i{
    color: #CB997E;
}

.template p i{
    margin-left: 5px;
    display: flex;
    align-items: center;
    color:black;
    justify-content: center;
    transform: rotateZ(0);
    transition: 0.5s ease-in-out;
}

.template p:hover i{
    transform: rotateZ(180deg);
    color: #CB997E;
}

nav #buys{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 64px;
}

nav #buys i{
    padding:0 10;
    font-size: 25;
}

nav #buys p{
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #d3d6cf;
}

#geral{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 150;
}

#sec1 #geral h1{
    font-family: "El Messiri", sans-serif;
    color: #CB997E;
    font-weight: 400;
    font-size: 65px;
    margin: 0 0 40px
}

#sec1 #geral p{
    font-family: "El Messiri", sans-serif;
    color: #212529;
    margin: 0;
    font-size: 20px;
}

#sec1 #geral input{
    margin: 40px 0;
    width: fit-content;
    padding: 18 24;
    background-color: #CB997E;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 550;
    box-shadow: 0 0 10px 1px #6a6b69;
    transition: 1s;
}

#sec1 #geral input:hover{
    background-color: #eddcd2;
}

#sec2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 368px;
    width: 100vw;
    background-color: #ffffff;
    padding-top: 48px;
}

#sec2 .op{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 546px;
    margin: 0 12px;
    background-color: #f2f2f2;
}

#sec2 #product1, #product2{
    display: flex;
    align-items: center;
    margin: 35px;
}

#sec2 #product1 p, #product2 p{
    font-family: "El Messiri", sans-serif;
    color: #CB997E;
    margin: 0;
    padding: 0;
    font-size: 40px
}

button{
    margin: 40px 35px;
    width: fit-content;
    padding: 18 24;
    background-color: #CB997E;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 550;
    box-shadow: 0 0 10px 1px #6a6b69;
}

footer #rodape{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#prim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#abtus, #info, #shopping, #bestdeals{
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    justify-content: center;
}

#infofim{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}